* {
  background-color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes rainbowGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.3);
  }
  16% {
    box-shadow: 0 0 10px rgba(255, 127, 0, 0.6), 0 0 20px rgba(255, 127, 0, 0.3);
  }
  33% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.6), 0 0 20px rgba(255, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.6), 0 0 20px rgba(0, 255, 0, 0.3);
  }
  66% {
    box-shadow: 0 0 10px rgba(0, 127, 255, 0.6), 0 0 20px rgba(0, 127, 255, 0.3);
  }
  83% {
    box-shadow: 0 0 10px rgba(75, 0, 130, 0.6), 0 0 20px rgba(75, 0, 130, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 20px rgba(255, 0, 0, 0.3);
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 250px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: black;
  animation: rainbowGlow 1s infinite ease-in-out;
  border-radius: 10px;
}

.Display {
  grid-column: span 3;
  height: 50px;
  width: 100%;
  color: black;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.button {
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: gray;
}
